button{ background-color: #1a1a1a;
position: sticky;
background-size: cover;}
h2{ text-align: center
    ;}
    h3 { text-align: center;}
     
body{
    border: #1a1a1a;
    color:black;
    background-color: sandybrown;

}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px 15px;
    margin: -10px;
}
    header{
        margin-top: 40px;
        
        background-size: 400px 400px;
 text-align: justify;
    }
    footer{
        background-color: #1a1a1a;
        padding: -25px 100px;
        color: #828282;
        margin: -10px;
        text-align: start;
 }
 footer.colonnes {display: flex;
flex-wrap: wrap;
justify-content: space-between;
}